@media (min-width: 481px) and (max-width: 768px) {
    .site__header {
        font-size: 6rem;
    }
    .site__header--text {
        font-size: 1.2rem;
    }
    .menu {
        font-size: 0.8rem;
    }

    .menu__link {
        padding: 5px 20px;
    }

    .banner__image {
        height: 300px;
    }
    .banner__image--text {
        font-size: 3rem;
    }
    .section__container {
        width: 600px;
        height: 420px;
    }
    .section__container h2 {
        font-size: 20rem;
    }
    .section__container span {
        font-size: 2.5rem;
        top: 40px;
        left: 140px;
        width: 80px;
    }
    .text {
        top: 90px;
        font-size: 1.7em;
        left: 140px;
    }

    .section__footer--text {
        font-size: 4rem;
    }
    .section__footer div {
        margin: 5%;
    }
    .button {
        font-size: 1.2rem;
        width: 150px;
        margin-top: 20px;
        left: 140px;
        bottom: 20px;
        position: absolute;
    }
    .contact {
        width: 400px;
        margin: 0px;
    }
    .label {
        font-size: 1.5em;
    }
    .btn--top img {
        width: 25px;
    }
    .send {
        font-size: 1.1rem;
        padding: 10px;
        width: 120px;
    }
    .copywright {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {

    .main__header {
        height: 60vh;
    }

    .site__header {
        font-size: 4rem;
    }

    .site__header--text {
        font-size: 1rem;
    }

    .menuToggle {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 10;
    }
    .menuToggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 5px;
        right: 10px;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
    }
    .menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #5f1b98;
        border-radius: 3px;
        z-index: 2;
        transform-origin: 4px 0px;
        transition: all ease-out 0.5s;
    }
    .menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    .menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    .menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    .menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }
    .menu {
        flex-flow: column nowrap;
        align-items: center;
        width: 100vw;
        height: 20vh;
        background: rgba(180, 91, 255, 0.7);
        list-style-type: none;
        transition: all ease-out 0.5s;
        transform: translate(100%, 0);
        left: 130%;
        opacity: 0.7;
    }

    .menu__item {
        font-size: 0.7rem;
        padding: 10px 0px;
    }
    .menuToggle input:checked ~ ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
        transform: translate(-100%, 0);
    }
    .wave_1,
    .wave_2,
    .wave_3 {
        height: 50px;
    }
    .wave_1 {
        bottom: 20px;
    }

    .wave_2 {
        bottom: -30px;
    }
    .wave_3 {
        bottom: -20px;
    }

    .section__container {
        width: 80vw;
        margin: 0px;
    }
    .section__image img {
        width: 350px;
    }
    .text {
        position: static;
        width: 80vw;
        left: 50px;
        line-height: 1.2rem;
        margin-bottom: 10px;
        top: 70px;
        left: 0px;
        text-align: justify;
        font-size: 0.8rem;
    }
    .section__container h2 {
        position: static;
        font-size: 4rem;
        letter-spacing: 0px;
    }
    .section__container span {
        left: 50px;
        top: 5px;
        font-size: 1.6rem;
        white-space: normal;
        letter-spacing: 1px;
    }
    .button {
        margin-top: 0px;
        position: static;
        left: 0px;
        font-size: 0.8rem;
        padding: 15px;
        width: 120px;
    }

    .banner__image {
        height: 200px;
        width: 100%;
        margin-top: 30px;
    }
    .banner__image--text {
        font-size: 2.5rem;
    }
    .section__footer {
        margin-top: 20px;
    }
    .section__footer--text p {
        font-size: 2.5rem;
        line-height: 1.5em;
        margin: 10px;
    }
    .contact {
        width: 250px;
        margin: 0px;
    }
    .label {
        font-size: 0.8rem;
        line-height: 2.5em;
    }
    .message {
        height: 80px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .btn--top img {
        width: 15px;
    }
    .send {
        font-size: 0.8rem;
        width: 100px;
        padding: 10px;
    }
    .copywright {
        font-size: 0.9em;
    }
