body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #5f1b98;
    font-size: 10px;
}

/* HEADER */

.main__header {
    height: 50vh;
    background: linear-gradient(45deg, #fe6b83 30%, #9326f0 100%);
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
    position: relative;
}

.site__header {
    text-align: center;
    font-size: 17em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.site__header--text {
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    opacity: 0.8;
    z-index: 2;
}

.wave_1,
.wave_2,
.wave_3 {
    position: absolute;
    height: 100px;
    z-index: 1;
    right: 0px;
}

.wave_1 {
    bottom: 60px;
}

.wave_2 {
    bottom: -50px;
}


/* MENU */

.menu {
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color: rgb(88, 39, 130);
    letter-spacing: 2px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.menu__link {
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.9;
    cursor: pointer;
    flex: 0 1 auto;
    color: inherit;
}

.menu__link:hover,
.menu__link:focus {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    transition: 0.3s;
    outline: none;
}

.menuToggle input {
    display: none;
}


/* BACK TO TOP */

.btn--top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    color: black;
    border: 3px solid;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.7;
}

.btn--top:hover,
.btn--top:focus {
    transform: scale(1.1);
    padding: 0px 3px 3px;
    border-radius: 50%;
}

.btn--top img {
    width: 50px;
}

/* SECTION */

.section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.section__container {
    width: 700px;
    flex: 0 1 auto;
    position: relative;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.section__image {
    margin: 20px 0px;
    flex: 0 1 auto;
}

.section__image img {
    width: 600px;
}

.section__container h2 {
    font-size: 25rem;
    letter-spacing: 2rem;
}

.section__container span {
    font-size: 3rem;
    color: #5f1b98;
    position: absolute;
    top: 50px;
    left: 160px;
    letter-spacing: 2px;
    white-space: nowrap;
}

.section__title--first {
    color: #e579d7;
}

.section__title--second {
    color: #ff87ac;
}

.section__title--third {
    color: rgba(255, 0, 98, 0.86);
}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    line-height: 1.3em;
    letter-spacing: 1px;
    position: absolute;
    top: 110px;
    left: 160px;
    text-align: justify;
}

.button {
    border: 3px solid #e579d7;
    background-color: transparent;
    font-size: 1.5rem;
    width: 200px;
    padding: 20px 50px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    left: 160px;
    text-align: center;
    outline: 0;
    transition: 0.3s;
}

.button:hover,
.button:focus {
    border: 3px solid #5f1b98;
    border-radius: 20px;
    transform: scale(1.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.button:active,
.button:visited {
    background-color: #5f1b98;
    color: white;
}


/* PINK IMAGE */

.banner__image {
    background-image: url(img/Layer%207.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner__image--text {
    font-size: 8rem;
    color: white;
}

.wave_3 {
    bottom: -40px;
    left: 0px;
}


/* FOOTER */

.section__footer {
    min-height: 50vh;
    background: linear-gradient(135deg, #ff61e7 40%, #9326f0 100%);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 30px;
}

.section__footer div {
    flex: 0 1 auto;
    margin: 0 5%;
}

.section__footer--text {
    font-size: 6rem;
    line-height: 1.5em;
}

.contact {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

.label {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 3em;
    cursor: pointer;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #5f1b98;
    cursor: text;
}

.message {
    border: 3px solid #5f1b98;
    height: 120px;
    background-color: transparent;
    margin-bottom: 40px;
}

.send {
    color: white;
    padding: 15px 30px;
    width: 200px;
    border: 3px solid white;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 2.2em;
    cursor: pointer;
    transition: 0.2s;
}

.send:hover,
.send:focus {
    border-radius: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.send:active,
.send:visited {
    background-color: #5f1b98;
}

.copywright {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    flex: 1 100%;
    margin: 50px 0px 20px;
    text-align: center;
    text-transform: uppercase;
}
